<% provide(:title, 'Sign up for Listician') %>
<div id="beta-sign-up-container" class="row">
	<div id="sign-up-container" class="large-8 large-offset-4 small-9 small-offset-3 columns">
		<%= link_to_unless_current(image_tag('logo.svg', class:"logo"),"/") %>
		<h4>A new way to measure your accomplishments</h4>
		<%= render 'form' %>
	</div>
</div>
